
.App ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}


.App li {
    display: inline-block;
    margin: 20px;
}

.App a{
    text-decoration: none;
    color: black;
}


.App a:hover,
.App a:active,
.App  a.active {
    
    color: orange;
}